
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
img,body,html{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}


.dept_table{
    background-image: url(../images/dept_table.png) !important;
}
.dept_tree{
    background-image: url(../images/dept_tree.png) !important;
}

.table_remove{
	background-image: url(../images/remove.gif) !important;
}
.table_add{
	background-image: url(../images/add.png) !important;
}

.table_save{
	background-image: url(../images/tabel_save.png) !important;
}
