<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <!-- =======================================
		各模块xml配置在此添加...
	 ============================================ -->
    <!-- 
  <import resource="modules/framework-bean.xml" />
  <import resource="modules/module-bean.xml" />

 -->

  <!-- 定时调度任务  
  <import resource="modules/scheduler-bean.xml" />
  <import resource="modules/spring-aop.xml" />
 -->


  <!-- =======================================
		外部属性文件在此添加...
	 ============================================ -->

  <import resource="spring/spring-framework.xml" />
  <import resource="spring/spring-mybatis.xml" />
  <import resource="spring/spring-mvc.xml" />
  <import resource="spring/spring-ehcache.xml" />
    
  <!--
  <import resource="spring/spring-ejbclient.xml" />
  -->


  <!-- =======================================
		数据库和事务定义
	 ======================================= -->




</beans>