<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <!--   parent="basicService"      -->
  <bean id="cashierService" class="com.kindustry.cashier.service.imp.CashierServiceImp" lazy-init="true" />


</beans>