<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:c="http://www.springframework.org/schema/c"
  xmlns:jee="http://www.springframework.org/schema/jee"
  xsi:schemaLocation="http://www.springframework.org/schema/beans META-INF/xsd/spring-beans-4.3.xsd
                        http://www.springframework.org/schema/util META-INF/xsd/spring-tool-4.3.xsd
                        http://www.springframework.org/schema/jee META-INF/xsd/spring-jee-4.3.xsd">

  
  <!-- properties文件中定义了jndi属性-->
  <util:properties id="jndienvironment" location="classpath:properties/jboss-ejb-client.properties" />

  <!--通过JNDI引用 -->
  <jee:remote-slsb id="convertBean" 
    jndi-name="EJBServer/ContainerServiceBean!com.kindustry.ejb.service.ContainerService" 
    business-interface="com.kindustry.ejb.service.ContainerService"
    resource-ref="true" environment-ref="jndienvironment" cache-session-bean="false" expose-access-context="false" 
     />


</beans>